HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
front/dist
front/tmp
front/out-tsc
# Only exists if Bazel was run
front/bazel-out

# dependencies
front/node_modules

front/*-lock.json

# profiling files
front/chrome-profiler-events*.json
front/speed-measure-plugin*.json

# IDEs and editors
front/.idea
front/.project
front/.classpath
front/.c9/
front/*.launch
front/.settings/
front/*.sublime-workspace

# IDE - VSCode
front/.vscode/*
front/!.vscode/settings.json
front/!.vscode/tasks.json
front/!.vscode/launch.json
front/!.vscode/extensions.json
front/.history/*

# misc
front/.sass-cache
front/connect.lock
front/coverage
front/libpeerconnection.log
front/npm-debug.log
front/yarn-error.log
front/testem.log
front/typings

# System Files
front/.DS_Store
front/Thumbs.db
